{% extends 'base.html'%}
{% block title%}HOME{%endblock%}
{% block content %}
{%block extra_css%}
<style>
    body{
        background-color: rgb(245, 243, 190);
    }
</style>
{%endblock%}
    <h1 style="color: rgb(125, 125, 207);text-align:center;font-size:30px;margin-top:220px;"> WELCOME TO BOOK STORE</h1>
   <!-- {% for i in a %}
     <p>{{i}}</p>
    {% endfor %}  -->
    <!-- <button><a href="{% url 'about'%}">Go to about</a></button>
     <button><a href="{% url 'contact'%}">Go to contact</a></button>
     <button><a href="{% url 'viewbook'%}">View Book</a></button>
      <button><a href="{% url 'register'%}">Register</a></button>
      <button><a href="{% url 'login'%}">Login</a></button> -->
{%endblock%}
